{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="Capital One Card Activation Guide" />
    <meta name="keywords" content="Capital One Card Activation Guide" />
    <meta name="robots" content="index, follow" />
    <title>A Complete Guide to Activating Your Capital One Card Online</title>
    {{ super() }}
{% endblock %}
