{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="google-site-verification" content="gus8wNu9Wq4z4EYhB3FvgnSC7n6wvWgL-jZRwzx8QPs" />
    <meta name="msvalidate.01" content="B5C4C5254733D9A22FB6C7952699141A" />
    <meta name="description" content="Capital One Card Activation Guide" />
    <meta name="keywords" content="Capital One Card Activation Guide" />
    <meta name="robots" content="index, follow" />
    <title>A Complete Guide to Activating Your Capital One Card Online</title>
    {{ super() }}
{% endblock %}
